<h2>Stats</h2>
<ul>
  <li><%= link_to 'Most Improved Batting Average (2009-2010)', stats_most_improved_batting_average_path %></li>
  <li><%= link_to "Slugging Percentage (Oakland A's 2007)", stats_slugging_percentage_path %></li>
  <li><%= link_to "Triple Crown Winners (2011-2012)", stats_triple_crown_winners_path %></li>
</ul>

