<h2>Most Improved Batting Average</h2>
<div>
  <label>Player: </label>
  <%= "#{@player.first_name} #{@player.last_name}" %>
</div>
<div>
  <label>Improved Average: </label>
  <%= @improved_average %>
</div>
