<h2>Slugging Percentage (Oakland A's 2007)</h2>
<ul>
  <% @players.each do |player| %>
    <li>
      <div>
        <label>Player: </label>
        <%= "#{player[:player].first_name} #{player[:player].last_name}" %>
      </div>
      <div>
        <label>Slugging Percentage: </label>
        <%= player[:slugging_percentage] %>
      </div>
    </li>
  <% end %>
</ul>
