<h2>Triple Crown Winners (2011-2012)</h2>
<ul>
  <% @players.each do |player| %>
    <li>
      <div>
        <label>Year: </label>
        <%= player[:year] %>
      </div>
      <div>
        <label>Winner: </label>
        <%= player[:player] ? "#{player[:player].first_name} #{player[:player].last_name}" : 'No Winner' %>
      </div>
    </li>
  <% end %>
</ul>
